@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: #012156;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}
